*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/*.jks
/app/release
/app/firebase-distribution.json
/app/play-store-credentials.json
notes.md
/app/src/main/play/release-notes/en-US/default.txt