<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.smileyjoe.putio.tv">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".Application"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.AuthActivity"
            android:banner="@drawable/put_tv_main_card"
            android:icon="@drawable/put_tv_main_card"
            android:label="@string/app_name"
            android:logo="@drawable/put_tv_main_card"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.VideoDetailsActivity" />
        <activity android:name=".ui.activity.PlaybackActivity"
            android:theme="@style/AppTheme.Video"/>
    </application>

</manifest>