<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.smileyjoe.putio.tv">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".Application"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activity.AuthActivity"
            android:banner="@drawable/put_tv_main_card"
            android:icon="@drawable/put_tv_main_card"
            android:label="@string/app_name"
            android:logo="@drawable/put_tv_main_card"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <!-- Used as an entry point for channels and individual channel programs -->
            <intent-filter>
                <!-- Used to launch our content directly from home screen launcher or Assistant -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Allows our app to be launched from a URL, not just via explicit intent -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows our app to receive implicit intents -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Define the filters for the URI being sent -->
                <data android:host="@string/host_name" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:pathPattern=".*" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.Material"/>
        <activity android:name=".ui.activity.VideoDetailsActivity" />
        <activity android:name=".ui.activity.PlaybackActivity"
            android:theme="@style/AppTheme.Video"/>
        <activity android:name=".ui.activity.SeriesActivity"
            android:theme="@style/AppTheme.Material"/>
        <activity
            android:name=".ui.activity.VideoDetailsBackdropActivity"
            android:theme="@style/AppTheme.Material"/>
    </application>

</manifest>